.privacySection{
    background-image: url(https://ewota.com/content/images/2020/03/data_privacy_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff;
    height: auto
}